<div class="sidebar">
    <div class="logo">Toliq</div>

    <a href="{% url 'feed' %}"
       class="nav-link {% if request.resolver_match.url_name == 'feed' %}active{% endif %}">
        🏠 Лента
    </a>

    <a href="{% url 'messages_list' %}"
       class="nav-link {% if request.resolver_match.url_name == 'messages_list' %}active{% endif %}">
        ✉️ Сообщения
    </a>

    <a href="{% url 'my_profile' %}"
       class="nav-link {% if request.resolver_match.url_name in 'my_profile|profile' %}active{% endif %}">
        👤 Профиль
    </a>

    <a href="{% url 'search_users' %}"
       class="nav-link {% if request.resolver_match.url_name == 'search_users' %}active{% endif %}">
        🔍 Поиск
    </a>

    <a href="{% url 'logout' %}" class="nav-link" style="margin-top: 50px; color: #ff6b6b;">
        ⬅️ Выйти
    </a>
</div>